*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Happy Monkey', cursive;
    font-family: 'Raleway', sans-serif;
}
/* headersection */
.header{

    
    align-items: center;
    /* padding: 0 5em 0 ; */
    /* height: 64px; */
    padding: 1em 0;
}
   
.section{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 0rem 0;
    align-items: center;
    /* align-items: ; */
}


.logo-text{
    font-weight: 700;
}
.span{
   font-weight: bold;
}

.nav-menu{
   
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    align-items: center;
    font-weight: 400;
    font-size: 0.8rem;
    
}

    



.btn-one{
padding: 0.45rem 1rem;
border: 1px solid  #D9D9D9;
background: #FFFFFF;
border-radius: 2px;
}
.btn-two{
    border: none;
    padding: 0.45rem 1rem;
    background: #1890FF;
    color: #FFFFFF;
    border-radius: 2px;


}
/* .shadow{
    /* box-shadow: 0.5rem; */
    /* box-shadow: 0px 2px 8px #F0F1F2; */
/* } */ */
/* hero section */

.hero-sec{
   
display: flex;
justify-content: space-between;
}
@media (max-width: 1050px){
    .hero-sec{
        display: flex;
        flex-direction: column;
        /* align-items: center;
        justify-content: center; */
    }

   .hero-img{
    width: 100%;
    margin: auto;
    padding: auto;
   }

}
.hero-sec {
   
    display: flex;
    justify-content: space-between;
    margin: 3.5rem 4rem 6rem 4rem;
    padding: 0;
}
.hero-sec-elements{
    text-justify: start;
    width: 97%;
    padding-right: 3rem;
}
.head-text{
    font-weight: 700;
    font-size: 2.25rem;
}
.hero-img{
    width: 100%;
    height: 85%;
    margin: 4rem 0 0 0rem;
    /* padding-left: 6.9rem; */
    flex: 1;
    
}
.head-para{
    margin-top: 1.9rem;
    font-weight: 400;
    font-size: 1rem;
}
.head-para-1{
    font-weight: 400;
    margin-top: 2.2rem;
    font-size: 1rem;
}
.head-para-two{
    font-weight: 400;
    margin-top: 2.5rem;
    font-size: 1rem;
}




/* navigation bar two */

.nav-two{
   
    display: flex;
    flex-direction: row;
    margin: 1rem 4rem 0rem 4rem;
    justify-content: space-around;
    font-weight: 700;
    font-size: 1.25;
color:  #1890FF;
;
}



/* three items */
.nav-two-items{
    display: flex;
    gap: 1.3rem;
    align-items: center;
    padding: 1.5em 0;
   
}
.items-img{
    width: 17%;
}

/* <!-- heading-Choose a learning path --> */

.heading-one{
    text-align: center;
    margin-top: 6.5rem;
    font-weight: 700;
   font-size: 1.9rem;
    color: #343434;
    
}

/* blocks */

.blocks-page-one{
    
    display: grid;
    margin: 6.5rem 4rem 25rem 4rem;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    row-gap: 5rem;
    column-gap: 8rem;
    
    
}
.block-one  {
    background: linear-gradient(97.66deg, #2F80ED 0.94%, rgba(123, 174, 244, 0.635417) 73.96%, rgba(150, 191, 246, 0.504346) 83.82%, rgba(255, 255, 255, 0) 121.8%),
linear-gradient(0deg, #56CCF2, #56CCF2);
color: #FFFFFF;
border: none;
border-radius: 0.625rem;



}
.block-two{
    background: linear-gradient(0deg, #13C2C2, #13C2C2),
    linear-gradient(296.48deg, #87E8DE -14.41%, rgba(181, 241, 235, 0.613161) 25.24%, rgba(255, 255, 255, 0) 100%);
    color: #FFFFFF;
    border: none;
    border-radius: 0.625rem;

}
.block-three {
    background: linear-gradient(97.66deg, #2F80ED 0.94%, rgba(123, 174, 244, 0.635417) 73.96%, rgba(150, 191, 246, 0.504346) 83.82%, rgba(255, 255, 255, 0) 121.8%),
    linear-gradient(0deg, #56CCF2, #56CCF2);
    color: #FFFFFF;
    border: none;
    border-radius: 0.625rem;

}
.block-four{
    background: linear-gradient(0deg, #13C2C2, #13C2C2),
linear-gradient(296.48deg, #87E8DE -14.41%, rgba(181, 241, 235, 0.613161) 25.24%, rgba(255, 255, 255, 0) 100%);
color: #FFFFFF;
border: none;
border-radius: 0.625rem;

}
.block{
  
    padding: 5rem 4rem 6.5rem 4rem ;
    text-align: start;
    border: none;
    border-radius: 0.625rem;


}


    


.block-heading{
    font-weight: 700;
    font-size: 1.12rem;
}


.block-line-one{
    font-weight: 700;
    font-size: 1.5rem;
    padding-top: 1.3rem;
    padding-right: 5rem;
}
.block-line-two{
    font-weight: 400;
    font-size: 0.9rem;
    padding: 0.6rem 1.4rem 0 0;
}
/* inner block of block */
.inner-block{
   
    display: flex;
    justify-content: start;
    gap: 2rem;
    padding: 1.8rem 10rem 0 0;
}
.inner-block-normal{
    font-weight: 700;
    font-size: 1.12rem;
}

.inner-block-bold{
    padding-top: 0.3rem;
    font-weight: 700;
    font-size: 1.25rem;
}

/* =======================
page 2 styling
======================= */
.block1-page2{

display: flex;
justify-content: space-between;
margin: 4rem 4rem 0rem 4rem;
background: linear-gradient(97.66deg, #2F80ED 0.94%, rgba(123, 174, 244, 0.635417) 73.96%, rgba(150, 191, 246, 0.504346) 83.82%, rgba(255, 255, 255, 0) 121.8%),
linear-gradient(0deg, #56CCF2, #56CCF2);
border-radius: 10px;

}
.p2-inner-block-one{
    color: #FFFFFF;
    width: 60%;
    padding: 5rem 7rem 6rem 4rem;
    text-align: start;

}
.p2-block-line-two{
    padding-right: 0;
}

.p2-inner-block-two{
    color: #FFFFFF;
    width: 40%;
    padding: 5rem 4rem 5rem 4rem;
    
}
.p2-b1-L1{
  font-weight: 1.125rem;      
  font-weight: 700;
}
.p2-b1-L2{
    font-weight: 1.25rem;
  font-weight: 700;
    padding-top: 1.3rem;

}
.p2-b1-L3{
    font-weight: 1.25rem;
    font-weight: 700;
    margin-top: 1.75rem;

}
/* ===================
page 2 first heading 
==================== */
.p2-first-heading{
    text-align: center;
    margin: 9.5rem 0rem 4.5rem 0rem ;

}
.p2-h1-head{
    font-weight: 700;
    font-size: 1.9rem;
}
.p2-h1-para{
    font-weight: 400;
    font-size: 1rem;

}

/* ====================

<!-- page 2 threee logos  -->

===================== */
.page-2-logos{
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 4rem 0rem  4rem;
    text-align: center;
    padding-bottom: 2rem;
}
.page2-logo-png{
    width: 95%;
    height: 80%;
    
    /* padding: 0 auto; */
}
.page-2-png-head{
    font-weight: 700;
    font-size: 1.5rem;
}
.page-2-png-para{
    padding: 1.25rem 2rem;
    font-weight: 400;
    font-size: 1rem;


}
.center-para{
    padding: 1.25rem 4rem;
    font-weight: 400;
    font-size: 1rem;

}
/* ================
<!-- page 2 second heading  -->
================ */
.p2-second-heading{
    text-align: center;
    margin: 11.8rem 0 0rem 0;
    font-weight: 700;
    font-size: 2.25rem;
}
.p2-h2-head2{
    margin: 3.1rem 4rem 1.8rem 4rem;
    text-align: start;
    font-weight: 700;
    font-size: 1.5rem;

}

/* =======================
<!--   page 2 footer part -->
======================= */

.page2-block2{
   
    padding: 3.1rem 6.5rem 6.5rem 3.6rem;
    margin: 0 4rem 13.5rem 4rem ;
    background: #1890FF21;



}
/* inner-b1 */
.inner-b1{
    text-align: start;
    padding: 0 43rem 2rem 0;
}
.inner-b1-h{
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 0.6rem;
}
.inner-b1-p{
    font-weight: 400;
    font-size: 1rem;

}
/* inneer-main-block */
.inneer-main-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   

}
.inneer-main-b-head{
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
}

.inneer-main-b-para-top{
   
        font-weight: 700;
        font-size: 1.125rem;


}
.inneer-main-b-para{
    font-weight: 700;
    font-size: 1.125rem;
    margin-top: 0.625rem;
}

a {
    text-decoration: none;
}
@media (max-width: 1050px){
    .inneer-main-block{
        display: flex;
        flex-direction: column;
    }
    .inneer-main-b-head{
        margin-top: 2rem;
    }

}
@media (max-width: 1220px){
    .inner-b1{
        padding: 0 23rem 2rem 0;
    }
}

@media (max-width: 1169px) {
    .blocks-page-one{
        display: flex;
        flex-direction: column;
    }
    .page-2-logos{
        display: flex;
        flex-direction: column;
    }
    .inner-b1{
        padding: 0 18rem 2rem 0;
    }
  

}
@media (max-width: 850px){
    .section{
        display: flex;
        flex-direction: column;
        /* /* align-items: center; */
       align-items: center;
    }
    .nav-menu{
        margin-top: 2rem;
    }
    /* page 2 */
    .block1-page2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .p2-inner-block-one{
        width: 100%;
    }
   .p2-inner-block-two{
    width: 100%;
    padding-top: 0;
   }
  .inner-b1{
    padding: 0 10rem 2rem 0;
}
}
@media (max-width: 680px) {
    .nav-menu{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr ;
        text-align: center;

    }
    .inner-b1{
        padding: 0 0rem 2rem 0;
    }
  
   .menu-items-btn{
    grid-column: 2;
   }
    
}
@media (max-width: 624px){
    .nav-two{
        display: flex;
        flex-direction: column;
       align-items: center;
     }
   }



